*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

header{
    margin: 10px;
}

.hero{
border: 5px solid black;
padding: 1px;
}

main{
    margin: 5px;
    padding: 5px; 
}

section{
    margin: 10px;
    padding: 5px;
    border: 3px  solid black;
}

section h2{
    border-bottom: 3px  solid black;
    padding: 5px;
    
}
section p {
    display: flex;
    margin-left: 9px;
    margin-bottom: 80px;
}

footer{
    display: flex;
    justify-content: center;
    padding: 30px;
}

li {
    display: flex;
    font-weight: bolder;
    margin-left: 60px;
    margin-bottom: 20px;
}