*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

header {
    padding: 10px;
}

button {
    display: flex;
    float: right;
    color: #fefafa;
    background-color: #000000;
    padding: 10px;
    margin-left: 10px;
    
}

.hero{
border: 5px solid black;
padding: 1px;
}

main{
    margin: 5px;
    padding: 5px; 
}

section{
    margin: 10px;
    /* padding: 5px; */
    border: 3px  solid black;
}

section h2{
    border-bottom: 3px  solid black;
    padding: 5px;
    
}
section p {
    display: flex;
    margin-left: 10px;
    /* margin-bottom: 5px; */
    padding: 10px;
}

footer{
    display: flex;
    justify-content: center;
    padding: 30px;
}

li {
    display: flex;
    font-weight: bolder;
    margin-left: 60px;
    margin-bottom: 20px;
}

.dark {
    background-color:#18202a;
    height: 120vh;
    color: #fefafa;
   
  }
  
  .dark header {
    background-color: #18202a ;
  }
  .dark .hero {
    border-bottom: 5px solid #fefafa;
  }
  .dark section {
    color: #fefafa;
    border: 5px solid #fefafa;
  }

  
.light {
    background-color:#fefafa;
    height: 100vh;
    color: #000000;
   
  }
  
  .light header {
    color: #000000;
  }
  .light figure {
    color: #000000;
  }
  .light section {
    color: #000000;
  }

  