*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}


.hero{
    border: 5px solid black;
    padding: 2px;
    margin-top: 60px;
}

.vl {
    position:absolute;
    border-left: 5px solid black;
    height: 750px;
    padding: 3px;
    margin-left: 750px;
}

header {
    padding: 10px;
}

h1 {
    text-align: center;
    padding: 30px;
}
.sides {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 100px;
}

.side {
    /* background-color: aquamarine; */
    flex-basis: calc(50%-em);
    margin: 3px;
}

#circle {
    width: 500px;
    height: 500px;
    background-image: linear-gradient(#2feb96,#011703);
    border-radius: 50%;
    text-align: center;
  }

  #shape-text {
    position: relative;
    top: 160px;
    text-align: center;
    height: 200px;
    font-size: 400%;
    color: #fefafa;
  }

#form label{
    display: block;
    width: 500px;
    }

#form input{
    display: inline-block;
    width: 500px;
    margin: 5px;
    border-radius: 5%;
}

button {
    color: #fffdfd;
    background-color: black;
    padding: 10px;
    width: 90px;
  }

  #theme {
    float: right;
  }
  
  #submit {
    margin-top: 10px;
    background-color: black;
    width: 600px;
}


.dark {
    background-color:#18202a;
    height: 120vh;
    color: #fefafa;
   
  }
  
  .dark header {
    background-color: #18202a ;
  }

  .dark .hero {
    border-bottom: 5px solid #fefafa;
  }

  .dark .vl {
    position:absolute;
    border-left: 5px solid #fefafa;
    height: 770px;
    padding: 3px;
    margin-left: 750px;
}

  .dark section {
    color: #fefafa;
    border: 5px solid #fefafa;
  }


  
.light {
    background-color:#fefafa;
    height: 100vh;
    color: #000000;
   
  }
  
  .light header {
    color: #000000;
  }
  .light figure {
    color: #000000;
  }
  .light section {
    color: #000000;
  }



  @media screen and (max-width: 1398px) {
    body{
        display: flex;
        flex-direction: column;
        height: 50%;
    }
    
    .vl {
        display: none;
    }
    .dark .vl {
        display: none;
    }
  }


  @media screen and (max-width: 1024px) {
    body{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
  }
  
  @media screen and (max-width: 768px) {
   body {
    display: flex;
    flex-direction: column;
    width: 150%;
   }
  }
  
 
  @media screen and (max-width: 390px) {
    body {
        display: flex;
        flex-direction: column;
        width: 180%;
    }
   
  }
 
 

